
.headerText{
	color: yellow;
	float: right;

}
.logoutLinkText {
 	color: white; 
 	text-decoration: none;
}

.logoutLinkText:hover
{
color: yellow;
text-decoration:none
}
.logoutLinkText:focus
{
color: yellow;
text-decoration:none
}

