html, body, aside {
	display: block;
	margin: 0;
	padding: 0;
}
body {
	/*  overflow: hidden; */  /* removed by pat holman*/
	padding: 40px;
	background-attachment: fixed;
	background-position: 50% 0;
	background-size: cover;
	-webkit-text-size-adjust: none;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
.bg-custom {
	background-image: url(../img/bg-custom.jpg);
}
.bg-red {
	background-image: url(../img/bg-red.jpg);
}
.bg-orange {
	background-image: url(../img/bg-orange.jpg);
}
.bg-yellow {
	background-image: url(../img/bg-yellow.jpg);
}
.bg-green {
	background-image: url(../img/bg-green.jpg);
}
.bg-cyan {
	background-image: url(../img/bg-cyan.jpg);
}
.bg-blue {
	background-image: url(../img/bg-blue.jpg);
}
.bg-purple {
	background-image: url(../img/bg-purple.jpg);
}
.bg-pink {
	background-image: url(../img/bg-pink.jpg);
}
.bg-black {
	background-image: url(../img/bg-black.jpg);
}
.body {
	max-width: 1120px;
	margin: 0 auto;
}
@media screen and (max-width: 1000px) {
	body {
		padding: 20px;
	}
}
@media screen and (max-width: 767px) {
	body {
		padding: 10px;
	}
}