/**/
/* defaults */
/**/
.sky-tabs > label:hover span span {
	background: #400000;
}
.sky-tabs > input:checked + label span span {
	background: #400000;
}
.sky-tabs > .active span span {
	background: #400000 !important;	
}